# build
dist/
build/

# python
.venv*/
__pycache__/
*.pyc

# runtime
hf_home/
temp/
_internal/

# model/cache
*.bin
*.pt
*.onnx

# ffmpeg (배포용만 유지)
_include/ffmpeg/

# OS
.DS_Store
Thumbs.db

#setting
settings.json

#backup
*.bak.*